body {
    font-family: sans-serif;
}

.link-header{
    text-decoration: none;
    color: blue;
}

.link-header:hover{
    color: red;
    background-color: yellow;
    padding: 5px;
}

h1{
    color: green;
    text-align: center;
}

h2{
    color: orange;
}

ul{
    background-image:linear-gradient(to right, white, yellow) ;
    width: 250px;
}

body{
    margin: 20px;
}

main img:hover{
    transform: scale(1.5);
    transition: 1s ease-in ;
}

h1:hover{
    transform: scale(1.5);
    transition: 1s ease-in;
}

footer{
    background-color: lightblue;
    height: 50px;
}

footer p{
    text-align: center;
    margin: 20px;
}
